/* 
    Project 3
    Marc Picornell
    18 oct 2020
    marc [at] marcpicornell.com
    You like it :-) say hi!
*/
* 
    {
        box-sizing: border-box;
        margin: 2px;
        padding: 0;
        font-family: 'Merriweather', serif;
    }

h1,
h2
    {
        text-align: center;
    }

h1 
    {
        font-size: 1.1em;
        background-color: #2d3945;
        color: white;
        padding: 10px;
        text-transform: uppercase;
    }

p 
    {
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
    }
h2 
    {
        font-size: 1.0em;
    }

h3  
    {
        text-align: left;
    }

li input,
li select
    {
        height: 30px;
        background-color: lightgrey;
    }

input:focus,
textarea:focus
    { 
        background-color: lightseagreen;
        transition-property: background-color;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
    }

li 
    {
        list-style: none;
    }

button 
    {
        background-color: teal;
        color: white;
        padding: 10px 30px;
        margin-left: 3px;
        width: 100%;
    }
footer 
    {
        font-size: 0.7em;
        text-align: center;
        opacity: 0.6;
        margin-top: 20px;
    }
label,
legend,
p,
.newsletters,
.format,
.topics
    {
        color: gray;
        font-size: 0.8em;
    }

textarea 
    {
        margin: 0;
        padding: 0;
        background-color: lightgrey;
    }
/*
    ########################################
    #####           CLASS              #####
    ########################################
*/
.form_contact 
    {
        display: flex;
        flex-direction: column;
    }

.form_contact li 
    {
        display: flex;
        flex-direction: column;
    
    }
.newsletters,
.format 
    {
        padding-bottom: 5px;
        padding-top: 5px;
    }

.topic
    {
        width: 100%;
    }
 
.part1
    {
        border-radius: 8px;
        background-color: linen;
        z-index: auto;
    }

.hr_contact 
    {
        border-top: 2px double black;
        border-bottom: 1px solid black;
    }

.hr_newsletter
    {
        border-top: 1.5px solid black;
    }

:required 
    {
        text-align: right;
    }

#zip_code
    {
        width: 25%;
    }

@media screen and (min-width: 769px)
    {  
       .container 
        {
            width: 70%;
            margin: auto;
        }
        .form_contact li
            {
                display: flex;
                flex-direction: row;
            }
        .form_contact label
            {
                flex-basis: 20%;
            }

            .form_contact input
            {   
                flex-grow: 1;
                flex-basis: auto;
            }
    }
